
<%if current_visitor %>
<h3> Welcome, <%= current_visitor.username %>! </h3>
<% end %>
<h1> Certified IDA Dark Sky Parks- United States</h1>
<% @dark_sky_parks.each do |park| %>
    <li> <%= link_to park.name, dark_sky_park_path(park) %> </li>
    <% end %>




<%= button_to 'About Page', about_path, method: :get %> <br>
<%= button_to 'View Bucket List', bucketlist_locations_path, method: :get %><br>
<%= button_to "Edit Profile", edit_visitor_path(current_visitor.id), :method => :get %><br>
<%= button_to "Logout", session_path(current_visitor.id), :method => :delete %> 

