<h1><%=  @dark_sky_park.name %>
<img src='<%= @dark_sky_park.img_url %>' alt="" /> <br />
<p> Description: <%= @dark_sky_park.description %></p> <br />
<p> Location: <%= @dark_sky_park.city %>, <%= @dark_sky_park.state %></p> <br />

