<h1> My Bucket List </h1>
<% if @bucketlist_locations.empty? %>
No parks saved yet!
<%else %>
<% @bucketlist_locations.each do |location| %>
    <li> <%= link_to location.dark_sky_park.name, dark_sky_park_path(location.dark_sky_park_id) %> </li> <br> <br>
    <% end %>
    <% end %>
    <%= button_to 'Back to List of Dark Sky Parks', dark_sky_parks_path, method: :get %> <br><br>
    <%= button_to 'Add Park To My Bucket List', new_bucketlist_location_path, method: :get %><br><br>
    <%= button_to 'Delete A Park', bucketlist_location_path(@bucketlist_locations), method: :get %> <br><br>
    <%= button_to "Logout", session_path(current_visitor.id), :method => :delete %><br><br>


    

    